---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:

  - repo: local
    hooks:
      - id: build
        name: Build file for distribution
        description: Create distribution files
        entry: make
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      # Run the linter with import sorting.
      - id: ruff
        args: [--fix, --select, I]
      # Format the code.
      - id: ruff-format

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--skip=dist/*", "--ignore-words=.spellcheck-en-custom.txt"]

  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.33
    hooks:
      - id: pymarkdown
        args: ["-d", "md014,md013", "scan"]

...
